{% extends 'base.html.twig' %}

{% block title %}Crear Libro{% endblock %}

{% block body %}

<div class="col-lg-8 align-center">
    <h1>Ingresar Libro</h1>

    {{form_start(form)}}

    <div class="form-group">
        <h4>Titulo</h4>
        {{form_widget(form.Titulo)}}
    </div>

    <div class="form-group">
        <h4>Decripcion</h4>
        {{form_widget(form.Breve_descripcion)}}
    </div>

    <div class="form-group">
        <h4>Año</h4>
        {{form_widget(form.Anio_publicacion)}}
    </div>

    <div class="form-group">
        <h4>Autor</h4>
        {{form_widget(form.Autor)}}
    </div>

    <div class="row">
        <div class="col-lg-8 align-center">
            <input type="submit" class="btn btn-primary">
            <a href="{{path('app_list')}}" class="btn btn-primary"> Regresar</a>
        </div>
    </div>
    {{form_end(form)}}
</div>

{% endblock %}

