{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .align-center{
                margin: auto auto;
        }
    </style>
{% endblock %}

{% block title %}Biblioteca{% endblock %}

{% block body %}
<div class='row'>
<div class='col-lg-8 align-center'>
<h1>Biblioteca</h1>
    <table class="table table-success table-striped">
        <thead class="table-dark">
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Año</th>
                <th>Autor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <td>{{libro.Titulo}}</td>
                    <td>{{libro.Brevedescripcion}}</td>
                    <td>{{libro.Aniopublicacion}}</td>
                    <td>{{libro.Autor}}</td>
                    <td>
                        <a href="{{path('app_edit',{id:libro.id})}}" class="btn btn-primary">Editar Libro</a>
                        <a href="{{path('app_delete',{id:libro.id})}}" class="btn btn-danger">Elimnar Libro</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="row">
    <div class="col-lg-8 align-center">
        <a href="{{path('app_create')}}" class="btn btn-primary">Ingresar Libro</a>
    </div>
</div>
{% endblock %}
